<table class="buttonRow">
    <tr>
        <td class="centeredButton">	<img id="goSecurityProfiles" src="/Content/Buttons/Profiles.png" /></td>
        <td class="centeredButton">	<img id="goSecurityZones" src="/Content/Buttons/Zones.png" /></td>
        <td class="centeredButton">	<img id="goSecuritySchedule" src="/Content/Buttons/Schedule.png" /></td>
    </tr>
</table>


