
@{
    ViewBag.Title = "Security";
}

<div id="topBarTitle" style="display:none">@ViewBag.Title</div>

<h2>Security Enabled - playing @DvbViewer.CurrentlySelectedChannelName</h2>
<br />
<br />
<br />
<p><a href="/Action/Security"><img src="~/Content/Buttons/Select.Radio.Button.png"></a></p>

