
@{
    ViewBag.Title = "SecurityRetry";
}

<div id="topBarTitle" style="display:none">@ViewBag.Title</div>

<h2>Security may already be running</h2>
<br />
<br />
<br />
<p>Press the button to retry</p>
<br />
<br />
<br />
<p><a href="/Action/Security"><img src="~/Content/Buttons/Select.Radio.Button.png"></a></p>
