
@{
    ViewBag.Title = "Security";
}

<div id="topBarTitle" style="display:none">@ViewBag.Title</div>

@if (ViewBag.Running)
{
    <a href="/Action/Security"><h2>Enable Security</h2></a>
}
else
{
    <h2>Security Enabled</h2>
}
