<table align="center" style="width: 100%">
<tr>
<td valign="top" style="width: 16%">
  	<table style="width: 100%">
		<tr>
		    <td class="centeredButton"><img class="skySendIR" id="Sky.Guide" src="/Content/Buttons/BigRound/Guide.png"></td>
        </tr><tr>
		    <td class="centeredButton"><img class="skySendIR" id="Sky.BackUp" src="/Content/Buttons/BigRound/Back.png"></td>
        </tr><tr>
	        <td class="centeredButton"><img class="skySendIR" id="Sky.Info" src="/Content/Buttons/BigRound/Info.png"></td>
		</tr><tr>
	        <td class="centeredButton"><img class="skySendIR" id="Sky.Record" src="/Content/Buttons/BigRound/Transport.Rec.png" /></td>
        </tr>
	</table>
</td>

<td valign="top" style="width: 60%">
<div id="arrows">
    <table style="width: 100%">
	  <tr>
		  <td>&nbsp;</td>
		  <td class="centeredButton"><img class="skySendIR" id="Sky.UpArrow" src="/Content/Buttons/BigRound/Nav.Up.png"></td>
		  <td class="centeredButton"><img class="skySendIR" id="Sky.ChUp" src="/Content/Buttons/BigRound/Channel.Up.png"></td>
	  </tr>
	  <tr>
		  <td class="centeredButton"><img class="skySendIR" id="Sky.LeftArrow" src="/Content/Buttons/BigRound/Nav.Left.png"></td>
		  <td class="centeredButton"><img class="skySendIR" id="Sky.Select" src="/Content/Buttons/BigRound/OK.png"></td>
		  <td class="centeredButton"><img class="skySendIR" id="Sky.RightArrow" src="/Content/Buttons/BigRound/Nav.Right.png"></td>
	  </tr>
	  <tr>
		  <td>&nbsp;</td>
		  <td class="centeredButton"><img class="skySendIR" id="Sky.DownArrow" src="/Content/Buttons/BigRound/Nav.Down.png"></td>
		  <td class="centeredButton"><img class="skySendIR" id="Sky.ChDown" src="/Content/Buttons/BigRound/Channel.Down.png"></td>
	  </tr>
    </table>
</div>
    </td>
<td valign="top" style="width: 16%">
  	<table style="width: 100%">
		<tr>
			<td class="centeredButton"><img class="skySendIR" id="Sky.Red" src="/Content/Buttons/SmallRound/Colours.Red.png"></td>
        </tr><tr>
			<td class="centeredButton"><img class="skySendIR" id="Sky.Green" src="/Content/Buttons/SmallRound/Colours.Green.png"></td>
        </tr><tr>
			<td class="centeredButton"><img class="skySendIR" id="Sky.Yellow" src="/Content/Buttons/SmallRound/Colours.Yellow.png"></td>
        </tr><tr>
			<td class="centeredButton"><img class="skySendIR" id="Sky.Blue" src="/Content/Buttons/SmallRound/Colours.Blue.png"></td>
		</tr><tr>
			<td class="centeredButton"><img class="skySendIR" id="Sky.Text" src="/Content/Buttons/SmallRound/TVText.png"></td>
        </tr>
	</table>
</td>

</tr>
</table>
  
    <br />

<div id="digits">
    <table style="width: 100%">
	  <tr>
		  <td class="centeredButton"><img class="skySendIR" id="Sky.1" src="/Content/Buttons/SmallRound/Keyboard.Numbers.1.png"></td>
		  <td class="centeredButton"><img class="skySendIR" id="Sky.2" src="/Content/Buttons/SmallRound/Keyboard.Numbers.2.png"></td>
		  <td class="centeredButton"><img class="skySendIR" id="Sky.3" src="/Content/Buttons/SmallRound/Keyboard.Numbers.3.png"></td>
		  <td class="centeredButton"><img class="skySendIR" id="Sky.4" src="/Content/Buttons/SmallRound/Keyboard.Numbers.4.png"></td>
		  <td class="centeredButton"><img class="skySendIR" id="Sky.5" src="/Content/Buttons/SmallRound/Keyboard.Numbers.5.png"></td>
	  </tr>
	  <tr>
		  <td class="centeredButton"><img class="skySendIR" id="Sky.6" src="/Content/Buttons/SmallRound/Keyboard.Numbers.6.png"></td>
		  <td class="centeredButton"><img class="skySendIR" id="Sky.7" src="/Content/Buttons/SmallRound/Keyboard.Numbers.7.png"></td>
		  <td class="centeredButton"><img class="skySendIR" id="Sky.8" src="/Content/Buttons/SmallRound/Keyboard.Numbers.8.png"></td>
		  <td class="centeredButton"><img class="skySendIR" id="Sky.9" src="/Content/Buttons/SmallRound/Keyboard.Numbers.9.png"></td>
		  <td class="centeredButton"><img class="skySendIR" id="Sky.0" src="/Content/Buttons/SmallRound/Keyboard.Numbers.0.png"></td>
	  </tr>
    </table>
</div>
