@{
    var sky = SkyData.Sky;
    var channels = SkyData.RadioChannels;

    foreach (var channel in channels.Values)
    {
        <div class="skyChannel" id="@channel.Id">
            <div class="skyChannelNumber">@channel.Code</div>
            <div class="skyChannelName"><span class="playButton">&gt;&nbsp;</span>@channel.Display</div>
            <div class="skyChannelNowNext">&nbsp;</div>
        </div>
    }
}