@{
    ViewBag.Title = Running.RunningProgram;
}


@Html.Partial("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar", Request))
    @Html.Raw(Render.Script("guide", Request))
}

<div class="guideBrowserItems" id="guideBrowserItems">
    @Html.Partial("BrowserPane")
</div>
