<div class="guideItem guideHeader"><div class="guideTitle">Schedule TV and Radio Recordings</div></div>
<table class="buttonRow">
	<tr>
	    <td class="centeredButton">	<img id="guideTvEpg" src="/Content/Buttons/Select.TV.Button.png" /></td>
	    <td class="centeredButton">	<img id="guideRadioEpg" src="/Content/Buttons/Select.Radio.Button.png" /></td>
        <td class="centeredButton">	<img id="guideSchedule" src="/Content/Buttons/Timers.png" /></td>
	    <td class="centeredButton">	<img id="guideSeries" src="/Content/Buttons/Series.png" /></td>
    </tr>
</table>

