@if (Running.RunningProgram == "Curzon")
{
    <div class="curzonButtons">
        <form id="textEntryForm">
            <table class="buttonRow">
                <tr>
                    <td class='width75'><input id='curzonEnteredText' type='text' class='width100' /></td>
                    <td class="centeredButton width25">
                        <img id="curzonEnterText" src="/Content/Buttons/SmallRound/OK.png" />
                    </td>
                </tr>
            </table>
        </form>
        <table class="buttonRow">
            <tr>
                <td class="centeredButton"><img id="curzonEscape" src="/Content/Buttons/SmallRound/Escape.png" /></td>
                <td class="centeredButton"><img id="curzonLeft" src="/Content/Buttons/SmallRound/Move.Left.png" /></td>
                <td class="centeredButton"><img id="curzonEnter" src="/Content/Buttons/SmallRound/Enter.png" /></td>
                <td class="centeredButton"><img id="curzonMenu" src="/Content/Buttons/SmallRound/Menu.png" /></td>
            </tr>
        </table>
    </div>
    <div class="mousePad" id="mousePad">&nbsp;</div>
}