<table class="buttonRow">
    <tr>
        <td class="centeredButton width75">&nbsp;</td>
        <td class="centeredButton width25">	<img id="goStreamSourceSelect" src="/Content/Buttons/Source.png" /></td>
    </tr>
</table>