@if (Running.RunningProgram == "Roku")
{
    <table class="buttonRow">
        <tr>
            <td class='width75'><input id='rokuText' type='text' class='rokuText width100' value='' /></td>
            <td class="centeredButton width25">
                <img id="goRokuText" src="/Content/Buttons/MiniRound/Enter.png" />
            </td>
        </tr>
    </table>
    <br />
    <br />
    <table class="width100">
        <tr>
            <td align="center" class="width60">
                <table>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="centeredButton"><img id="btnUp" alt="" src="/Content/Buttons/BigRound/Nav.Up.png"></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="centeredButton"><img id="btnLeft" alt="" src="/Content/Buttons/BigRound/Nav.Left.png"></td>
                        <td class="centeredButton"><img id="btnOk" src="/Content/Buttons/BigRound/OK.png"></td>
                        <td class="centeredButton"><img id="btnRight" alt="" src="/Content/Buttons/BigRound/Nav.Right.png"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="centeredButton"><img id="btnDown" alt="" src="/Content/Buttons/BigRound/Nav.Down.png"></td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
            <td class="centeredButton width10"></td>
            <td class="centeredButton width30">
                <table>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="centeredButton"><img id="btnBack" src="/Content/Buttons/BigRound/Back.png"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="centeredButton"><img id="btnHome" src="/Content/Buttons/BigRound/Home.png"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br />
    <br />
    <table class="width100">
        <tr>
            <td class="centeredButton width25"><img id="btnPrev" alt="" src="/Content/Buttons/Transport.Prev.png"></td>
            <td class="centeredButton width50"><img id="btnPlayPause" src="/Content/Buttons/PlayPauseButton.png"></td>
            <td class="centeredButton width25"><img id="btnNext" alt="" src="/Content/Buttons/Transport.Next.png"></td>
        </tr>
    </table>
}
