@if (Running.RunningProgram == "Roku")
{
    <table class="buttonRow">
        <tr>
            <td class='width75'><input id='rokuText' type='text' class='rokuText width100' value='' /></td>
            <td class="centeredButton width25">
                <img id="goRokuText" src="/Content/Buttons/MiniRound/Enter.png" />
            </td>
        </tr>
    </table>
}
