@if (Running.RunningProgram == "Roku")
{
    <br />
    <br />
    <table class="width100">
        <tr>
            <td align="center" class="width60">
                <table>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="centeredButton"><img id="btnUp" alt="" src="/Content/Buttons/BigRound/Nav.Up.png"></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="centeredButton"><img id="btnLeft" alt="" src="/Content/Buttons/BigRound/Nav.Left.png"></td>
                        <td class="centeredButton"><img id="btnOk" src="/Content/Buttons/BigRound/OK.png"></td>
                        <td class="centeredButton"><img id="btnRight" alt="" src="/Content/Buttons/BigRound/Nav.Right.png"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td class="centeredButton"><img id="btnDown" alt="" src="/Content/Buttons/BigRound/Nav.Down.png"></td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
            <td class="centeredButton width10"></td>
            <td class="centeredButton width30">
                <table>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="centeredButton"><img id="btnHome" src="/Content/Buttons/BigRound/Home.png"></td>
                    </tr>
                    <tr>
                        <td class="centeredButton"><img id="btnStar" src="/Content/Buttons/BigRound/Star.png"></td>
                    </tr>
                    <tr>
                        <td class="centeredButton"><img id="btnBack" src="/Content/Buttons/BigRound/Back.png"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br />
    <br />
    <table class="width100">
        <tr>
            <td class="centeredButton width30"><img id="btnRepeat" alt="" src="/Content/Buttons/Repeat.png"></td>
            <td class="centeredButton width20"><img id="btnPrev" alt="" src="/Content/Buttons/Transport.Rewind.png"></td>
            <td class="centeredButton width30"><img id="btnPlayPause" src="/Content/Buttons/PlayPauseButton.png"></td>
            <td class="centeredButton width20"><img id="btnNext" alt="" src="/Content/Buttons/Transport.FastForward.png"></td>
        </tr>
    </table>
}
