@if (Running.RunningProgram == "SmartTv")
{
    <table align="center" class='width100'>
        <tr>
            <td valign="top" class="width16">
                <table class='width100'>
                    <tr>
                        <td class="centeredButton"><img class="tvKey" id="RETURN" src="/Content/Buttons/BigRound/Back.png"></td>
                    </tr>
                    <tr>
                        <td class="centeredButton"><img class="tvKey" id="INFO" src="/Content/Buttons/BigRound/Info.png"></td>
                    </tr>
                </table>
            </td>

            <td valign="top" class="width60">
                <div id="arrows">
                    <table class='width100'>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="centeredButton"><img class="tvKey" id="UP" src="/Content/Buttons/BigRound/Nav.Up.png"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="centeredButton"><img class="tvKey" id="LEFT" src="/Content/Buttons/BigRound/Nav.Left.png"></td>
                            <td class="centeredButton"><img class="tvKey" id="ENTER" src="/Content/Buttons/BigRound/OK.png"></td>
                            <td class="centeredButton"><img class="tvKey" id="RIGHT" src="/Content/Buttons/BigRound/Nav.Right.png"></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="centeredButton"><img class="tvKey" id="DOWN" src="/Content/Buttons/BigRound/Nav.Down.png"></td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
            </td>

            <td valign="top" class="width16">
                <table class='width100'>
                    <tr>
                        <td class="centeredButton"><img class="tvKey" id="RED" Src="/Content/Buttons/SmallRound/Colours.Red.png"></td>
                    </tr>
                    <tr>
                        <td class="centeredButton"><img class="tvKey" id="GREEN" src="/Content/Buttons/SmallRound/Colours.Green.png"></td>
                    </tr>
                    <tr>
                        <td class="centeredButton"><img class="tvKey" id="YELLOW" src="/Content/Buttons/SmallRound/Colours.Yellow.png"></td>
                    </tr>
                    <tr>
                        <td class="centeredButton"><img class="tvKey" id="BLUE" src="/Content/Buttons/SmallRound/Colours.Blue.png"></td>
                    </tr>
                </table>
            </td>

        </tr>
    </table>

    <br />

    <div id="digits">
        <table class='width100'>
            <tr>
                <td class="centeredButton"><img class="tvKey" id="1" src="/Content/Buttons/SmallRound/Keyboard.Numbers.1.png"></td>
                <td class="centeredButton"><img class="tvKey" id="2" src="/Content/Buttons/SmallRound/Keyboard.Numbers.2.png"></td>
                <td class="centeredButton"><img class="tvKey" id="3" src="/Content/Buttons/SmallRound/Keyboard.Numbers.3.png"></td>
                <td class="centeredButton"><img class="tvKey" id="4" src="/Content/Buttons/SmallRound/Keyboard.Numbers.4.png"></td>
                <td class="centeredButton"><img class="tvKey" id="5" src="/Content/Buttons/SmallRound/Keyboard.Numbers.5.png"></td>
            </tr>
            <tr>
                <td class="centeredButton"><img class="tvKey" id="6" src="/Content/Buttons/SmallRound/Keyboard.Numbers.6.png"></td>
                <td class="centeredButton"><img class="tvKey" id="7" src="/Content/Buttons/SmallRound/Keyboard.Numbers.7.png"></td>
                <td class="centeredButton"><img class="tvKey" id="8" src="/Content/Buttons/SmallRound/Keyboard.Numbers.8.png"></td>
                <td class="centeredButton"><img class="tvKey" id="9" src="/Content/Buttons/SmallRound/Keyboard.Numbers.9.png"></td>
                <td class="centeredButton"><img class="tvKey" id="0" src="/Content/Buttons/SmallRound/Keyboard.Numbers.0.png"></td>
            </tr>
        </table>
    </div>
    <br />
    <br />
    <table class="width100">
        <tr>
            <td class="centeredButton width25"><img class="tvKey" id="REWIND" alt="" src="/Content/Buttons/Transport.Rewind.png"></td>
            <td class="centeredButton width50"><img class="tvPlayPause" id="tvPlayPause" src="/Content/Buttons/PlayPauseButton.png"></td>
            <td class="centeredButton width25"><img class="tvKey" id="FF" alt="" src="/Content/Buttons/Transport.FastForward.png"></td>
        </tr>
    </table>
}