@if (Running.RunningProgram == "Curzon" || Running.RunningProgram == "Prime")
{
    <div class="webButtons">
        <table class="buttonRow">
            <tr>
                <td class="centeredButton"><img id="webLeft" src="/Content/Buttons/SmallRound/Back.png" /></td>
                <td class="centeredButton"><img id="webEnter" src="/Content/Buttons/SmallRound/Enter.png" /></td>
                <td class="centeredButton">&nbsp;</td>
                <td class="centeredButton"><img id="webPageUp" src="/Content/Buttons/SmallRound/Page.Up.png" /></td>
            </tr>
            <tr>
                <td class="centeredButton"><img id="webEscape" src="/Content/Buttons/SmallRound/Escape.png" /></td>
                <td class="centeredButton"><img id="webMenu" src="/Content/Buttons/SmallRound/Menu.png" /></td>
                <td class="centeredButton">&nbsp;</td>
                <td class="centeredButton"><img id="webPageDown" src="/Content/Buttons/SmallRound/Page.Down.png" /></td>
            </tr>
        </table>
    </div>
    <div class="mousePad" id="mousePad">&nbsp;</div>
}