@if (Running.RunningProgram == "Curzon" || Running.RunningProgram == "Prime")
{
    <div class="webButtons">
        <form id="textEntryForm">
            <table class="buttonRow">
                <tr>
                    <td class='width75'><input id='webEnteredText' type='text' class='width100' /></td>
                    <td class="centeredButton width25">
                        <img id="webEnterText" src="/Content/Buttons/SmallRound/OK.png" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
}