@{
    var apps = Roku.Apps;
    if (apps != null)
    {
        foreach (var app in apps)
        {
            <div class="rokuBrowserApp rokuBrowserItem" id="@app.Key">
                <div class="rokuBrowserTitle" id="@app.Key">@app.Value</div>
            </div>
        }
    }

}