@{
    var apps = Roku.Apps;
    if (apps != null)
    {
        foreach (var app in apps)
        {
            <div class="rokuBrowserApp rokuBrowserItem" id="@app.Key">
                <div class="rokuBrowserTitle" id="@app.Key"><img src="@(Roku.AppImageUrl(app.Key))" class="rokuAppImage" />@app.Value</div>
            </div>
        }
    }

}