<table class="buttonRow">
    <tr>
        <td class="centeredButton">	<img id="goRokuControls" src="/Content/Buttons/Controls.png" /></td>
        <td class="centeredButton">	<img id="goRokuSelect" src="/Content/Buttons/Select.Select.Button.png" /></td>
    </tr>
</table>