<table class="buttonRow">
	<tr>
	    <td class="centeredButton">	<img id="goVideoWatch" src="/Content/Buttons/Select.Watch.Button.png" /></td>
	    <td class="centeredButton">	<img id="goVideoRecordings" src="/Content/Buttons/Select.TV.Button.png" /></td>
        <td class="centeredButton">	<img id="goVideoVideos" src="/Content/Buttons/Select.Video.Button.png" /></td>
        <td class="centeredButton">	<img id="goVideoDVDs" src="/Content/Buttons/Select.DVD.Button.png" /></td>
    </tr>
</table>

