<table class="buttonRow">
	<tr>
	    <td class="centeredButton">	<img id="goSpotifyPlaying" src="/Content/Buttons/PlayTab.png" /></td>
	    <td class="centeredButton">	<img id="goSpotifyQueue" src="/Content/Buttons/ListTab.png" /></td>
	    <td class="centeredButton">	<img id="goSpotifyLibrary" src="/Content/Buttons/LibraryTab.png" /></td>
    </tr>
</table>

