<div id="playingnow">
    <div class="subtitle_empty"></div>
    <div class="spotifyPlayingTrack">
		<img id="SpotifyInfoImageURL" src="/Content/Spotify.png" class="spotifyInfoImage" alt="Playing Track Image" />
		<div id="SpotifyInfoName" class="spotifyInfoTrackName"></div>
		<div id="SpotifyInfoArtist" class="spotifyInfoArtist"></div>
		<div id="SpotifyInfoAlbum" class="spotifyInfoAlbum"></div>
	</div>
</div>

<div class="spotifyPlaybackControls">
	<table class='width100'>
		<tr>
			<td class="centeredButton"><img id="spotifyPrev" src="~/Content/Buttons/Transport.Prev.png"></td>
	        <td class="centeredButton"><img id="spotifyMinus10" src="~/Content/Buttons/Minus10.png" /></td>
			<td class="centeredButton"><img id="spotifyPlayPause" src="~/Content/Buttons/PlayPauseButton.png"></td>
	        <td class="centeredButton"><img id="spotifyPlus10" src="~/Content/Buttons/Plus10.png" /></td>
			<td class="centeredButton"><img id="spotifyNext" src="~/Content/Buttons/Transport.Next.png"></td>
		</tr>
	</table>
			  
	<table class='width100'>
		<tr>
            <td class="spotifyPlaybackStatus width30" id="SpotifyInfoStatus">&nbsp;</td>
            <td class="spotifyPlaybackStatus width40" id="SpotifyInfoPositionDisplay">&nbsp;</td>
            <td class="spotifyPlaybackStatus width30" id="SpotifyInfoPlayingNowPositionDisplay">&nbsp;</td>
		</tr>
	</table>

    <div>
        <div id="spotifyPosSlider" class="spotifyPosSlider noUiSlider">&nbsp;</div>
    </div>

</div>
