
@Html.Partial("TopBarWide")
@section scripts {
    @Html.Raw(Render.Script("topBar", Request))
    @Html.Raw(Render.Script("home", Request))
}


<div class="mouseEtcButtons">
    <table class="buttonRow">
        <tr>
            <td class="width50">
                <form id="textEntryForm">
                    <table class="buttonRow">
	                    <tr>
                            <td class='width75'><input id='mouseEtcEnteredText' type='text' class='width100' /></td>
                            <td class="centeredButton width25" >
                                <img id="mouseEtcEnterText" src="/Content/Buttons/SmallRound/OK.png" />
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
            <td class="width50">
                <table class="buttonRow">
                    <tr>
                        <td class="centeredButton"><img id="mouseEtcEscape" src="/Content/Buttons/SmallRound/Escape.png" /></td>
                        <td class="centeredButton"><img id="mouseEtcLeft" src="/Content/Buttons/SmallRound/Move.Left.png" /></td>
                        <td class="centeredButton"><img id="mouseEtcEnter" src="/Content/Buttons/SmallRound/Enter.png" /></td>
                        <td class="centeredButton"><img id="mouseEtcMenu" src="/Content/Buttons/SmallRound/Menu.png" /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div class="mousePad" id="mousePad">&nbsp;</div>
