<table class="buttonRow">
	<tr>
	    <td class="centeredButton">	<img id="goMusicPlaying" src="/Content/Buttons/PlayTab.png" /></td>
	    <td class="centeredButton">	<img id="goMusicQueue" src="/Content/Buttons/ListTab.png" /></td>
	    <td class="centeredButton">	<img id="goMusicLibrary" src="/Content/Buttons/LibraryTab.png" /></td>
    </tr>
</table>

