<div id="playingnow">
    <div class="subtitle_empty"></div>
    <div class="musicPlayingTrack">
		<img id="PlaybackInfo.ImageURL" src="about:blank" class="musicInfoImage" alt="No Image" />
		<div>
            <span id="PlaybackInfo.ClassicalComposer" class="musicInfoComposer"></span>
		    <span id="PlaybackInfo.Name" class="musicInfoTrackName"></span>
		</div>
		<div id="PlaybackInfo.Artist" class="musicInfoArtist"></div>
		<div id="PlaybackInfo.Album" class="musicInfoAlbum"></div>
	</div>
</div>

<div class="musicPlaybackControls">
	<table class='width100'>
		<tr>
			<td class="centeredButton"><img id="musicPrev" src="~/Content/Buttons/Transport.Prev.png"></td>
	        <td class="centeredButton"><img id="musicMinus10" src="~/Content/Buttons/Minus10.png" /></td>
			<td class="centeredButton"><img id="musicPlayPause" src="~/Content/Buttons/PlayPauseButton.png"></td>
	        <td class="centeredButton"><img id="musicPlus10" src="~/Content/Buttons/Plus10.png" /></td>
			<td class="centeredButton"><img id="musicNext" src="~/Content/Buttons/Transport.Next.png"></td>
		</tr>
	</table>
			  
	<table class='width100'>
		<tr>
		    <td class="musicPlaybackStatus width30" id="PlaybackInfo.Status">&nbsp;</td>
            <td class="musicPlaybackStatus width40" id="PlaybackInfo.PositionDisplay">&nbsp;</td>
            <td class="musicPlaybackStatus width30" id="PlaybackInfo.PlayingNowPositionDisplay">&nbsp;</td>
		</tr>
	</table>

    <div>
        <div id="musicPosSlider" class="musicPosSlider noUiSlider">&nbsp;</div>
    </div>

</div>
