<table align="center" class='width100'>
<tr>
    <td valign="top" class="width16">
        <table class='width100'>
            <tr>
                <td class="centeredButton"><img class="tvAction" id="OSD-Menu" src="/Content/Buttons/BigRound/Menu.png"></td>
            </tr>
            <tr>
                <td class="centeredButton"><img class="tvAction" id="OSD-Close" src="/Content/Buttons/BigRound/Back.png"></td>
            </tr>
            <tr>
                <td class="centeredButton"><img class="tvAction" id="OSD-OK" src="/Content/Buttons/BigRound/Info.png"></td>
            </tr>
        </table>
    </td>

    <td valign="top" class="width60">
        <div id="arrows">
            <table class='width100'>
                <tr>
                    <td>&nbsp;</td>
                    <td class="centeredButton"><img class="tvAction" id="OSD-Up" src="/Content/Buttons/BigRound/Nav.Up.png"></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="centeredButton"><img class="tvAction" id="OSD-Left" src="/Content/Buttons/BigRound/Nav.Left.png"></td>
                    <td class="centeredButton"><img class="tvAction" id="OSD-OK" src="/Content/Buttons/BigRound/OK.png"></td>
                    <td class="centeredButton"><img class="tvAction" id="OSD-Right" src="/Content/Buttons/BigRound/Nav.Right.png"></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td class="centeredButton"><img class="tvAction" id="OSD-Down" src="/Content/Buttons/BigRound/Nav.Down.png"></td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </td>

    <td valign="top" class="width16">
  	    <table class='width100'>
		    <tr>
			    <td class="centeredButton"><img class="tvAction" id="OSD-Red" src="/Content/Buttons/SmallRound/Colours.Red.png"></td>
            </tr><tr>
			    <td class="centeredButton"><img class="tvAction" id="OSD-Green" src="/Content/Buttons/SmallRound/Colours.Green.png"></td>
            </tr><tr>
			    <td class="centeredButton"><img class="tvAction" id="OSD-Yellow" src="/Content/Buttons/SmallRound/Colours.Yellow.png"></td>
            </tr><tr>
			    <td class="centeredButton"><img class="tvAction" id="OSD-Blue" src="/Content/Buttons/SmallRound/Colours.Blue.png"></td>
		    </tr><tr>
			    <td class="centeredButton"><img class="tvAction" id="OSD-Show+Subtitlemenu" src="/Content/Buttons/SmallRound/TVText.png"></td>
            </tr>
	    </table>
    </td>

</tr>
</table>
  
    <br />

<div id="digits">
    <table class='width100'>
	  <tr>
		  <td class="centeredButton"><img class="tvAction" id="Channel1" src="/Content/Buttons/SmallRound/Keyboard.Numbers.1.png"></td>
		  <td class="centeredButton"><img class="tvAction" id="Channel2" src="/Content/Buttons/SmallRound/Keyboard.Numbers.2.png"></td>
		  <td class="centeredButton"><img class="tvAction" id="Channel3" src="/Content/Buttons/SmallRound/Keyboard.Numbers.3.png"></td>
		  <td class="centeredButton"><img class="tvAction" id="Channel4" src="/Content/Buttons/SmallRound/Keyboard.Numbers.4.png"></td>
		  <td class="centeredButton"><img class="tvAction" id="Channel5" src="/Content/Buttons/SmallRound/Keyboard.Numbers.5.png"></td>
	  </tr>
	  <tr>
		  <td class="centeredButton"><img class="tvAction" id="Channel6" src="/Content/Buttons/SmallRound/Keyboard.Numbers.6.png"></td>
		  <td class="centeredButton"><img class="tvAction" id="Channel7" src="/Content/Buttons/SmallRound/Keyboard.Numbers.7.png"></td>
		  <td class="centeredButton"><img class="tvAction" id="Channel8" src="/Content/Buttons/SmallRound/Keyboard.Numbers.8.png"></td>
		  <td class="centeredButton"><img class="tvAction" id="Channel9" src="/Content/Buttons/SmallRound/Keyboard.Numbers.9.png"></td>
		  <td class="centeredButton"><img class="tvAction" id="Channel0" src="/Content/Buttons/SmallRound/Keyboard.Numbers.0.png"></td>
	  </tr>
    </table>
</div>
