<table align="center" class='width100'>
<tr>
    <td valign="top" class="width16">
        <table class='width100'>
            <tr>
                <td class="centeredButton"><img class="tvAction" id="GotoGuide" src="/Content/Buttons/BigRound/Guide.png"></td>
            </tr>
            <tr>
                <td class="centeredButton"><img class="tvAction" id="NavBack" src="/Content/Buttons/BigRound/Back.png"></td>
            </tr>
            <tr>
                <td class="centeredButton"><img class="tvAction" id="Info" src="/Content/Buttons/BigRound/Info.png"></td>
            </tr>
            <tr>
                <td class="centeredButton"><img class="tvAction" id="Record" src="/Content/Buttons/BigRound/Transport.Rec.png" /></td>
            </tr>
        </table>
    </td>

    <td valign="top" class="width60">
        <div id="arrows">
            <table class='width100'>
                <tr>
                    <td>&nbsp;</td>
                    <td class="centeredButton"><img class="tvAction" id="NavUp" src="/Content/Buttons/BigRound/Nav.Up.png"></td>
                    <td class="centeredButton"><img class="tvAction" id="ChanUp" src="/Content/Buttons/BigRound/Channel.Up.png"></td>
                </tr>
                <tr>
                    <td class="centeredButton"><img class="tvAction" id="NavLeft" src="/Content/Buttons/BigRound/Nav.Left.png"></td>
                    <td class="centeredButton"><img class="tvAction" id="Enter" src="/Content/Buttons/BigRound/OK.png"></td>
                    <td class="centeredButton"><img class="tvAction" id="NavRight" src="/Content/Buttons/BigRound/Nav.Right.png"></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td class="centeredButton"><img class="tvAction" id="NavDown" src="/Content/Buttons/BigRound/Nav.Down.png"></td>
                    <td class="centeredButton"><img class="tvAction" id="ChanDown" src="/Content/Buttons/BigRound/Channel.Down.png"></td>
                </tr>
            </table>
        </div>
    </td>
<td valign="top" class="width16">
  	<table class='width100'>
		<tr>
			<td class="centeredButton"><img class="tvAction" id="TextRed" src="/Content/Buttons/SmallRound/Colours.Red.png"></td>
        </tr><tr>
			<td class="centeredButton"><img class="tvAction" id="TextGreen" src="/Content/Buttons/SmallRound/Colours.Green.png"></td>
        </tr><tr>
			<td class="centeredButton"><img class="tvAction" id="TextYellow" src="/Content/Buttons/SmallRound/Colours.Yellow.png"></td>
        </tr><tr>
			<td class="centeredButton"><img class="tvAction" id="TextBlue" src="/Content/Buttons/SmallRound/Colours.Blue.png"></td>
		</tr><tr>
			<td class="centeredButton"><img class="tvAction" id="Text" src="/Content/Buttons/SmallRound/TVText.png"></td>
        </tr>
	</table>
</td>

</tr>
</table>
  
    <br />

<div id="digits">
    <table class='width100'>
	  <tr>
		  <td class="centeredButton"><img class="tvAction" id="Num1" src="/Content/Buttons/SmallRound/Keyboard.Numbers.1.png"></td>
		  <td class="centeredButton"><img class="tvAction" id="Num2" src="/Content/Buttons/SmallRound/Keyboard.Numbers.2.png"></td>
		  <td class="centeredButton"><img class="tvAction" id="Num3" src="/Content/Buttons/SmallRound/Keyboard.Numbers.3.png"></td>
		  <td class="centeredButton"><img class="tvAction" id="Num4" src="/Content/Buttons/SmallRound/Keyboard.Numbers.4.png"></td>
		  <td class="centeredButton"><img class="tvAction" id="Num5" src="/Content/Buttons/SmallRound/Keyboard.Numbers.5.png"></td>
	  </tr>
	  <tr>
		  <td class="centeredButton"><img class="tvAction" id="Num6" src="/Content/Buttons/SmallRound/Keyboard.Numbers.6.png"></td>
		  <td class="centeredButton"><img class="tvAction" id="Num7" src="/Content/Buttons/SmallRound/Keyboard.Numbers.7.png"></td>
		  <td class="centeredButton"><img class="tvAction" id="Num8" src="/Content/Buttons/SmallRound/Keyboard.Numbers.8.png"></td>
		  <td class="centeredButton"><img class="tvAction" id="Num9" src="/Content/Buttons/SmallRound/Keyboard.Numbers.9.png"></td>
		  <td class="centeredButton"><img class="tvAction" id="Num0" src="/Content/Buttons/SmallRound/Keyboard.Numbers.0.png"></td>
	  </tr>
    </table>
</div>
