<table class="buttonRow">
	<tr>
	    <td class="centeredButton">	<img id="goTvWatch" src="/Content/Buttons/Select.Live.Button.png" /></td>
  	    <td class="centeredButton">	<img id="goTvTv" src="/Content/Buttons/Select.TV.Button.png" /></td>
        <td class="centeredButton">	<img id="goTvRadio" src="/Content/Buttons/Select.Radio.Button.png" /></td>
	    <td class="centeredButton">	<img id="goTvControls" src="/Content/Buttons/Controls.png" /></td>
    </tr>
</table>

