@{
    JRMC.AlbumCollection albums = JRMC.PhotoAlbumList;
    if (albums != null)
    {
        foreach (var album in albums.InAlbumOrder)
        {
            <div class="photosBrowserAlbum photosBrowserItem" id="@album.AlbumId">
                <div class="photosBrowserTitle" id="@album.Track0.Info["Key"]"><span class="playButton">&gt;&nbsp;</span>@album.Track0.Info["Album"]</div>
            </div>
        }
    }
    
}