<table class="width100">
	<tr>
		<td align="center" class="width60">
		<table>
			<tr>
				<td>&nbsp;</td>
				<td class="centeredButton"><img id="btnUp" alt="" src="/Content/Buttons/BigRound/Nav.Up.png"></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td class="centeredButton"><img id="btnLeft" alt="" src="/Content/Buttons/BigRound/Nav.Left.png"></td>
				<td>&nbsp;</td>
				<td class="centeredButton"><img id="btnRight" alt="" src="/Content/Buttons/BigRound/Nav.Right.png"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td class="centeredButton"><img id="btnDown" alt="" src="/Content/Buttons/BigRound/Nav.Down.png"></td>
				<td>&nbsp;</td>
			</tr>
		</table>
		</td>
		<td class="centeredButton width10"></td>
		<td class="centeredButton width30">
		    <table>
			    <tr>
				    <td>&nbsp;</td>
			    </tr>
			    <tr>
				    <td class="centeredButton"><img id="btnPlus" alt="" src="/Content/Buttons/BigRound/Plus.png"></td>
			    </tr>
			    <tr>
				    <td>&nbsp;</td>
			    </tr>
			    <tr>
				    <td class="centeredButton"><img id="btnMinus" alt="" src="/Content/Buttons/BigRound/Minus.png"></td>
			    </tr>
		    </table>
		</td>
	</tr>
</table>
<br />
<br />
<table class="width100">
	  <tr>
        <td class="centeredButton width25"><img id="btnPrev" alt="" src="/Content/Buttons/Transport.Prev.png"></td>
        <td class="centeredButton width50"><img id="btnPlayPause" src="/Content/Buttons/PlayPauseButton.png"></td>
        <td class="centeredButton width25"><img id="btnNext" alt="" src="/Content/Buttons/Transport.Next.png"></td>
	  </tr>
</table>
