<table class="buttonRow">
	<tr>
	    <td class="centeredButton">	<img id="goPhotosDisplay" src="/Content/Buttons/View.png" /></td>
	    <td class="centeredButton">	<img id="goPhotosImages" src="/Content/Buttons/Grid.png" /></td>
	    <td class="centeredButton">	<img id="goPhotosSelect" src="/Content/Buttons/Select.Select.Button.png" /></td>
    </tr>
</table>

